#visual
  %img{:src => '/img/800_600.jpg', :width => '800', :height => '600', :alt => 'http://www.arnunestattoo.com/', :title => 'http://www.arnunestattoo.com/', :usemap => '#pages' }/
  %map{:name => 'pages'}
    = poly_map_tag('338,547,346,522,360,511,375,512,394,537,392,560,385,583,372,589,355,587,344,578,337,563', 'contact', 'Contact')
    = poly_map_tag('308,574,296,584,284,587,277,577,277,567,282,552,291,541,305,526,315,516,326,506,333,506,336,518,331,538,320,558', 'news', 'News')
    = poly_map_tag('309,518,291,537,273,553,252,565,238,568,229,563,225,553,228,540,240,527,260,513,279,500,292,494,302,488,311,478,322,474,330,478,333,490,324,503', 'paintings', 'Paintings')
    = poly_map_tag('258,476,276,473,292,471,303,473,305,478,300,483,287,492,269,503,249,516,235,519,222,519,217,513,217,504,221,495,231,486,246,479,258,476', 'tattoos', 'Tattoos')
    = poly_map_tag('200,442,242,436,279,442,298,453,294,460,259,470,230,475,200,476,187,472,181,462,188,450,200,442', 'about', 'About')
